__pycache__
*.pyc

# experimental and temporary files
_*.sh
data/xrns
data/RIFF
data/temp
data/projects
scripts/_*
app/gui/_tmp
app/gui/res/
app/shared/_tmp/
app/res/_tmp/
*.tmp

# docs

docs/

# settings

*.ini

# builds
lib/zynseq/build
lib/*
